body {
	margin-bottom: 60px;
	padding: 0px 60px;
	background-color: #2E2E2E;
	color: #efefef;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;

}

h1 {
	font-size: 42px;
	font-weight: 500;
	color: #AEB404;
	margin-bottom: 20px;
	text-align: center;
}
.img {
	text-align: center;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 300px;
	width: auto;
	float: right;
}
a {
	text-align: center;
	padding: 3px 2px 3px 2px;
	margin-bottom: 10px;
	background-color: #AEB404;
	display: inline-block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	border-radius: 5px;
	color: white;
}