{% extends "layots.html" %}
{% block title %}
Gallery
{% endblock %}
{% block content %}
<div class="container">
    <div class="head">
    <h1>This is a gallery</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="row">
                <a href="{{ url_for('static', filename='images/img1.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/img1_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/img2.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/img2_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/cat4.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/cat4_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
            <div class="row">
                <a href="{{ url_for('static', filename='images/img3.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/img3_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/img4.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/img4_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/img5.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/img5_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
            <div class="row">
                <a href="{{ url_for('static', filename='images/cat1.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/cat1_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/cat3.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/cat3_600.jpg') }}" class="img-fluid gallery">
                </a>
                <a href="{{ url_for('static', filename='images/cat5.jpg') }}" data-lightbox="imgs" data-gallery="example-gallery" class="col-sm-4">
                    <img src="{{ url_for('static', filename='images/cat5_600.jpg') }}" class="img-fluid gallery">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}