<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', v=2) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <h1> Home Page </h1>
    <div class="link">
        <a href="{{ url_for('gallery')}}">Gallery</a>
    </div>
    <div class="link">
        <a href="{{ url_for('about')}}">About us</a>
    </div>
    <div class="link">
        <a href="{{ url_for('contact')}}">Contact me</a>
    </div>

</body>
</html>